# This is the code for Quantium Forage Task

## Goal
Create a dashboard for Soul Foods
- Recently increases the price on Pink Morsels -> Slight Decline in Pink Morsels Sales
- Soul Food would like to investigate the effect of the change on profits

### Analysis of Requirements
Since the goal is to determine the change in profits.

The data we have available are:
- Product
- Price
- Quantity Sold
- Date of Sale
- Region of Sale

We want to be able to answer the following questions:
- How much did the increase in price affect the profit in Pink Morsels?
    - Are these changes affected by region?
    - Does the changes in Pink Morsels affect the other products?


Features that need to be in the model.
- Comparison between two different products
    - X-axis is time
    - Y-axis should include Price, Quantity, Profits
    - Should be separated by region

In [4]:
import pandas as pd

## MISC Code
This section includes any helper code I used

Combining the data to make it easier to use

In [20]:
sales0 = pd.read_csv("data/daily_sales_data_0.csv")
sales1 = pd.read_csv("data/daily_sales_data_1.csv")
sales2 = pd.read_csv("data/daily_sales_data_2.csv")

In [21]:
sales = pd.concat([sales0, sales1, sales2])

In [22]:
sales.to_csv("data/daily_sales_compiled.csv", index=False)

In [18]:
sales = pd.read_csv("data/daily_sales_compiled.csv")

Creating an extra column called 'Total (price * quantity).

In [25]:
sales.groupby("date").mean()

/tmp/ipykernel_7465/2440009186.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  sales.groupby("date").mean()

              quantity
date
2018-02-06  552.857143
2018-02-07  542.214286
2018-02-08  535.000000
2018-02-09  560.357143
2018-02-10  554.250000
...                ...
2022-02-10  455.250000
2022-02-11  448.142857
2022-02-12  433.607143
2022-02-13  462.785714
2022-02-14  447.821429

[1470 rows x 1 columns]